
.page-header {
  background-color: #F4F4F4;
  padding: 4rem 0 2rem 0;
}

.page-title {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  color: #1C1C1C;
}

.page-decoration {
  width: 40px;
  height: 3px;
  background-color: #B89E68;
  margin: 1rem auto;
}

.text-dark {
  color: #1C1C1C;
}
